body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(
    to top,
    white 0%,
    white 50%,
    red 50%,
    red 100%
  );
    color: #fff;
    margin: 10;
    padding: 10;
    font-family: sans-serif;
}
h1{
    color: #fff;
    font-size: 200px;
    text-align: center;
}
p{
    color: black;
}